@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --toastify-color-light: #17a948ff !important;
  --toastify-text-color-light: #fff !important;
}
.Toastify__close-button {
  opacity: 1 !important;
  color: white !important;
  fill: white !important;
}
.Toastify__close-button > svg {
  opacity: 1 !important;
  fill: white !important;
  color: white !important;
}
.Toastify__close-button--default {
  opacity: 1 !important;
  color: white !important;
  fill: white !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
}
.profileIcon,
.profileIcon:focus-visible,
.profileIcon:focus-within,
.profileIcon:focus,
.profileIcon:hover {
  background-image: url('./assets/Profile.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}

.passwordIcon {
  background-image: url('./assets/Lock.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}
.mailIcon {
  background-image: url('./assets/Mail.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}

.error {
  color: #f22128ff;
}
.error-border {
  border: 1px solid #f22128ff;
  outline: none;
}
.bg-image {
  background-image: url('./assets/container.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 3.0625;
}

.accordionTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #171a1f;
}
.boxShadow {
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 4px 9px rgba(23, 26, 31, 0.11);
}

.max-min-in-char {
  min-width: 35ch;
  max-width: 75ch;
  text-align: center;
}

.button-purple-active:hover:active {
  background-color: #3d2dc7ff;
}
.button-green-active:hover:active {
  background-color: #2f9c72ff;
}

.button-red-active:hover:active {
  background-color: #b90b11ff;
}
.button-gray-active:hover:active {
  background-color: #dee1e6ff;
  color: #9095a0ff;
}
.button-grayPurple-active:hover:active {
  color: #3d2dc7ff;
  background-color: #dee1e6ff;
}

.mobile-view-show {
  display: none;
}

@media (max-width: 600px) {
  .mobile-view-custom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .mobile-view-hidden {
    display: none;
  }
  .mobile-view-show {
    display: flex;
  }
  .mobile-view-text {
    text-align: center;
  }
  .mobile-view-center {
    justify-content: center;
  }
  .mobile-view-p {
    padding: 16px 0;
    gap: 32px;
  }

  .mobile-view-self-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mobile-view-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobile-view-pricing-boxes {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .mobile-view-pricingPage {
    justify-content: center;
    padding: 64px 8px;
    gap: 64px;
  }
  .mobile-view-aboutus {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-view-featurePage {
    flex-direction: column;
    gap: 16px;
  }

  .mobile-view-aboutus-reverse {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .mobile-view-featurePage-p {
    width: 100%;
  }
  .mobile-view-joinusBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 16px;
  }
  .mobile-view-registration {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .mobile-view-homePage {
    margin: 0;
    background-image: none;
  }
  .mobile-view-w-90 {
    width: 90%;
  }
  .mobile-view-w-auto {
    width: 100%;
  }
  .mv-hidden-custom {
    display: none;
  }
  .mv-custom-flex-col {
    flex-direction: column;
  }
  .mv-custom-width {
    min-width: 300px;
  }
}

.show-mobile-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  z-index: 10;
  gap: 32px;
  border: none;
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 0px 1px rgba(23, 26, 31, 0.07);
  overflow: hidden;
}

.hide-mobile-nav {
  display: none;
}

header {
  overflow-x: hidden;
}

.border-left-purple {
  border-left: 4px solid #6355d8;
  padding-left: 12px;
}

.custom-box-shadow {
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 0px 1px rgba(23, 26, 31, 0.07);
}
.custom-box-shadow-modal {
  box-shadow:
    0px 4px 9px #171a1f,
    0px 0px 2px #171a1f;
}
.custom-box-shadow-upload-modal {
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 4px 9px rgba(23, 26, 31, 0.11);
}

.fill-purple {
  fill: #6355d8;
}
.custom-hover-x-icon:hover {
  background-color: #eaecefff;
}
.custom-hover-x-icon:hover:active {
  background-color: #dee1e6ff;
}
.css-1juxbee-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-tbuks1-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #6355d8 !important;
}

.textarea:hover {
  border-color: #9095a0ff;
  box-shadow: 0px 0px 5px #9095a0;
}
.textarea {
  background: #f3f4f6ff;
  border-color: #9095a0ff;
}
.textarea:focus {
  background: #ffffffff;
  border-color: #9095a0ff;
  box-shadow: 0px 0px 5px #9095a0;
  outline: none;
}

input:hover,
input:focus {
  outline: none;
}

.wrapperDivInput:hover,
select:focus,
select:hover {
  box-shadow: 0px 0px 5px #9095a0;
  outline: none;
}
.input-box-shadow:focus,
.input-box-shadow:hover {
  box-shadow: 0px 0px 5px #9095a0;
}
.custom-box-shadow-miniprofile {
  box-shadow: 0px 0px 5px #9095a0;
  z-index: 100;
}

.custom-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#password {
  box-shadow: none;
}
.boxShadow:hover {
  box-shadow: 0px 0px 5px #9095a0;
}

.miniprofile-custom {
  z-index: 1000;
  overflow: visible;
  opacity: 1;
}
