@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}
.app {
  width: 100%;
  min-height: 100vh;
}
.profileIcon {
  background-image: url('./assets/Profile.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}
.passwordIcon {
  background-image: url('./assets/Lock.svg');
  background-repeat: no-repeat;
  /* background-position: left; */
  background-position: 8px center;
}
.mailIcon {
  background-image: url('./assets/Mail.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}

.error {
  color: #f22128ff;
}
.error-border {
  border: 1px solid #f22128ff;
  outline: none;
}
.bg-image {
  background-image: url('./assets/container.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 3.0625;
}

.accordionTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #171a1f;
}
.boxShadow {
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 4px 9px rgba(23, 26, 31, 0.11);
}

.max-min-in-char {
  min-width: 35ch;
  max-width: 75ch;
  text-align: center;
}

.button-purple-active:hover:active {
  background-color: #3d2dc7ff;
}
.mobile-view-show {
  display: none;
}

@media (max-width: 600px) {
  .mobile-view-custom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .mobile-view-hidden {
    display: none;
  }
  .mobile-view-show {
    display: flex;
  }
  .mobile-view-text {
    text-align: center;
  }
  .mobile-view-center {
    justify-content: center;
  }
  .mobile-view-p {
    padding: 16px 0;
    gap: 32px;
  }

  .mobile-view-self-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.show-mobile-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  z-index: 10;
  gap: 32px;
  border: none;
  box-shadow:
    0px 0px 2px rgba(23, 26, 31, 0.12),
    0px 0px 1px rgba(23, 26, 31, 0.07);
  overflow: hidden;
}

.hide-mobile-nav {
  display: none;
}

header {
  overflow-x: hidden;
}

.border-left-purple {
  border-left: 4px solid #6355d8;
  padding-left: 12px;
}
