@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}
.app {
  width: 100%;
  min-height: 100vh;
}
.profileIcon {
  background-image: url('./assets/Profile.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}
.passwordIcon {
  background-image: url('./assets/Lock.svg');
  background-repeat: no-repeat;
  /* background-position: left; */
  background-position: 8px center;
}
.mailIcon {
  background-image: url('./assets/Mail.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
}

.error {
  color: #f22128ff;
}
.error-border {
  border: 1px solid #f22128ff;
  outline: none;
}
.bg-image {
  background-image: url('./assets/container.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 3.0625;
}

/* .input-wrapper:focus-within {
} */
/* .loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .background-image-profile {
  background-image: url('./assets/Profile.svg');
  background-repeat: no-repeat;
}

.background-image-profile:focus {
  background-image: none;
} */
